<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Дипломная работа</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="Main.html" style="height:25px;"><img src="icons/home.png" style="width: 25px; height: 25px; margin-right: 20px;"></a>
            <a href="Main.html" style="text-decoration: none; color: white;">PARTUM</a>
        </div>
    </header>
    
    <main class="grid">
        <a class="card" href="Suppliers.html">
            <img src="icons/suppliers.png" alt="Иконка">
            <p>ПОСТАВЩИКИ</p>
        </a>
        <a class="card" href="Customer.html">
            <img src="icons/customers.png" alt="Иконка">
            <p>ЗАКАЗЧИК / РЕГИСТРАЦИЯ</p>
        </a>
        <a class="card" href="Products.html">
            <img src="icons/products.png" alt="Иконка">
            <p>ПРОДУКТЫ</p>
        </a>
        <a class="card" href="Expenses.html">
            <img src="icons/expenses.png" alt="Иконка">
            <p>РАСХОД</p>
        </a>
        <a class="card" href="Sales.html">
            <img src="icons/sales.png" alt="Иконка">
            <p>ПРОДАЖИ</p>
        </a>
        <a class="card" href="Employees.html">
            <img src="icons/employees.png" alt="Иконка">
            <p>СОТРУДНИКИ</p>
        </a>
        <a class="card" href="Feedback.html">
            <img src="icons/feedback.png" alt="Иконка">
            <p>ОБРАТНАЯ СВЯЗЬ</p>
        </a>
        <a class="card" href="Reports.html">
            <img src="icons/reports.png" alt="Иконка">
            <p>ОТЧЕТЫ</p>
        </a>
        <a class="card" href="Login.html">
            <img src="icons/exit.png" alt="Иконка">
            <p>ВЫХОД</p>
        </a>
    </main>
</body>
</html>
